.portfolio-page {
  min-height: 100%;
  width: 100%;
  z-index: 10; 
  -webkit-flex-sizing: border-box; 
          box-sizing: border-box;  
  padding-left: 250px; 
}

.portfolio-page-aligner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.portfolio-page-aligner h1 {
    text-transform: uppercase; 
    font-weight: 900; 
    font-size: 50px; 
}

.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    background-image: rgba(33,107,246,1);
    background-image: -moz-linear-gradient(left, rgba(33,107,246,1) 0%, rgba(27,86,203,1) 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,107,246,1)), color-stop(100%, rgba(27,86,203,1)));
    background-image: -webkit-linear-gradient(left, rgba(33,107,246,1) 0%, rgba(27,86,203,1) 100%);
    background-image: -o-linear-gradient(left, rgba(33,107,246,1) 0%, rgba(27,86,203,1) 100%);
    background-image: -ms-linear-gradient(left, rgba(33,107,246,1) 0%, rgba(27,86,203,1) 100%);
    background-image: linear-gradient(to right, rgba(33,107,246,1) 0%, rgba(27,86,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216bf6', endColorstr='#1b56cb', GradientType=1 );
}

.portfolio-page__content {
  text-align: center; 
  padding-top: 75px; 
}
