/* __________________________________what clients say __________________________ */

.clients-logos {  
  background: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  /*width: 101%;*/
  position: absolute;
  left: -10px;
  right: 0;
}
.clients-logos .clients-logos-aligner {

    width: 80%;
margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clients-logos .clients-logo {
  opacity: .65;
}
.clients-slide {
  padding: 40px;
  background: #fff;
  min-width: 400px;
}
.clients-slide__text {
    padding-bottom: 30px; 
    font-size: 18px;
    color: #7b7b7b;
    font-weight: 300; 
    padding-right: 30px;
    text-align: justify;
}
.clients-slide__persona {
  display: flex;
  display: webkit-flex;
  align-items: center;
  justify-content: flex-start;
}
.clients-slide__persona_info {
  margin-left: 20px;
}
.clients-slide___name {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
}
.slider-aligner {
    display: flex; 
    height: 72%; 
    width: 100%;
    align-items: center; 
}
.client-slide__text_content {
    font-style: italic; 
}

.clients-slide__persona_picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.clients-slide__persona_picture img {
  margin-left: -27px;
  margin-top: -1px;
}

.clients-slider-container {
    width: 70%;  
    margin: 75px auto; 
} 

.slick-arrow {
    margin-top: -20px; 
}

.clients-slide {
    margin: 0 auto; 
    width: 90%;
}

.clients-slider-underlay {
    width: 68%;
    position: absolute;
    width: 8;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    background: #fafafa; 
    margin-left: 5px; 
}

.clients-slider-container .slick-prev {
    margin-left: -100px;
    width: 100px;
}

.clients-slider-container .slick-next {
    margin-right: -100px;
    width: 100px;
}

.clients-slider-container .slick-prev::before {
     content: "\f177"; 
     font-family: "FontAwesome";
     color: #9855d4!important; 
     font-size: 60px; 
}

.clients-slider-container .slick-next::before {
    content: "\f178"; 
    font-family: "FontAwesome";
    color: #9855d4!important; 
    font-size: 60px; 
 
}
 

.clients-slide-underlay__container {
    height: 155px;
    background: #fafafa; 
    /* margin-top: -203px; */
    width: 95%;
    margin: 0 auto;
    margin-top: -208px;
    width: 200%;
    position: relative;
    z-index: -100;
    margin-bottom: 50px;
} 

.nav-dots {
    bottom: -50px!important; 
}

.nav-dots .slick-active button::before {
    color: #9855d4!important; 
    font-size: 8px; 
    padding-top: 1px;
}

.nav-dots button:hover:before, .nav-dots button:focus:before {
    color: #9855d4!important; 
}

.clients-logos-mobile {
    display: none; 
}

@media screen and (max-width: 1700px) {
    .slider-aligner {
        display: flex; 
        height: 68%; 
    }
}
 
@media screen and (max-width: 1400px) {
    .clients-slider-underlay {
        margin-top: 80px; 
    }     
    
    .slider-aligner {
        display: flex; 
        height: 65%; 
    }

    .clients-slider-underlay {
        margin-left: -2px;
    }
}

@media screen and (max-width: 1200px) {
    .clients-slider-container {
        margin: 35px auto; 
    } 

    .clients-slide__text {
        font-size: 16px; 
    } 


}

@media screen and (max-width: 768px) {
    .clients-logos-aligner {
        display: none!important; 
    }

    .clients-logos-mobile {
        display: block; 
    }
    .clients-logo-group {
        text-align: center; 
    }
    .clients-logo-group div {
        display: inline-block; 
        padding: 15px; 
    }
}