/* __________________________________________ contact us _________________________________________________ */
.map-container {
  margin-top: -32px;
  margin-left: -15px;
  margin-right: -25px;
  margin-bottom: 50px; 
  background-size: cover; 
  background-image: url(../../assets/map.png); 
  background-repeat: no-repeat; 
}
/*.map-container img {
  width: 100%;
  height: auto; 
  margin-left: -15px;
}*/
.contact-form {
  margin-top: 35px;
}
.contact-form i {
  color: #9855d4;
}
.contact-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none!important;
  width: 100%;
}
.contact-form input:focus {
  border-bottom: 1px solid #000;
}
.contact-form .form-group {
  margin-bottom: 0; 
}

.contact-form .top-group {
  margin-top: 15px;
}
.form-title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 35px;
}
.form-info-location {
  margin-bottom: 15px;
}
.form-info-location-offset-top {
  margin-top: 60px;
}
.form-info-location-offset-bottom {
  margin-bottom: 50px;
}
.contact-us__content {
  margin-left: 10%;
  margin-right: 10%;
}
.send-btn__container {
  padding: 30px 15px 50px 0;
}
.send-btn {
  width: 120px;
  float: right;
  margin-right: 15px;
} 

.no-offset {
    margin-top: 0!important; 
}

.contacts-text {
  margin-bottom: 15px; 
}

.contacts-text span {
  white-space: nowrap; 
}  


/*______________________________________ media queries ____________________________________________ */

@media screen and (max-width: 1300px) {
    .form-info-location-offset-bottom {
        margin-bottom: 8px; 
    }

    .form-title {
        margin-bottom: 10px; 
    }
    .contact-form .top-group {
      margin-top: -32px; 
    }

    .contact-form .fotm-group {
      margin-bottom: -2px; 
    }
}

@media screen and (max-width: 1024px), screen and (max-height: 700px) {
    .icon-location + .form-info-location {
        margin-left: 31px; 
        margin-top: -31px;
    }


    .icon-location {
        font-size: 22px; 
    }
    .locations {
        margin-bottom: 20px; 
    }
    .contacts i {
        margin-right: 15px;
    }
    .map-container img {
        height: 200px; 
        width: auto; 
    } 
    .action-btn {
        background: #2b2b2b; 
        width: 100%; 
        float: none; 
        margin-right: 0; 
    }
    .send-btn__container {
        padding: 30px 15px; 
    }

    .contacts {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 1024px) {
    .form-info-location {
        margin-left: 31px; 
        margin-bottom: 2px; 
    }
}

@media screen and (max-width: 768px) {

    .what-we-do__tabs_tab {
        padding: 0;
        padding-bottom: 10px; 
    }

    .info-location {
        font-size: 22px;
    } 

    .contact-us__content {
        margin: 15px;
    }


}